* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}
#map {
  height: 100vh;
  width: 100vw;
}
/* #marker {
  height: 32px;
  width: 32px;
  background-image: url("http://i.imgur.com/WbMOfMl.png")
} */
#nav {
  height: 5vh;
  width: 100vw;
  background-color: blue
}
#itinerary {
  height: 50%;
  width: 30vw;
  background-color: grey;
  z-index: 2
}
section {
  display: flex;
  align-items: center;

}
#option-panel{
  height: 50%;
  width: 30vw;
  background-color: grey;
  z-index: 2
}
